body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin-top: 20px;  /'Subir o bajar la imagen'/
    text-align: center; /'Centrar el texto dentro de main'/
}

main .main-logo {
    width: 650px;
    margin: 0 auto;
    margin-bottom: 15px;
}

main .main-logo img {
    width: 550px;
    height: 300px;
}

main .main-input {
    width: 630px;
    margin:0 auto;
    margin-bottom: 35px;
}

main .main-input-container {
    width: 560px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input input{
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}

main .main-input-container:hover{
    box-shadow: 0 1px 6px 0 #20212447; /'Darle sombra al search'/
    border-color: #dfe1e500;
}

main .main-input .search-icon {
    background-image: url('https://thumbs.dreamstime.com/b/icono-de-b%C3%BAsqueda-colores-ilustraci%C3%B3n-vectorial-coloreada-plana-s%C3%ADmbolo-aumento-vector-plano-la-lupa-eps-166198842.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

main .main-input .micro-icon {
    background-image: url('https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-25-512.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

main .main-input .camera-icon {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IlN0YW5kYXJkX3Byb2R1Y3RfaWNvbiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIKCSB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE5MnB4IiBoZWlnaHQ9IjE5MnB4IiB2aWV3Qm94PSIwIDAgMTkyIDE5MiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTkyIDE5MiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxyZWN0IGlkPSJib3VuZGluZ19ib3hfMV8iIGZpbGw9Im5vbmUiIHdpZHRoPSIxOTIiIGhlaWdodD0iMTkyIi8+CjxnIGlkPSJhcnRfbGF5ZXIiPgoJPGNpcmNsZSBpZD0iRG90IiBmaWxsPSIjNDI4NUY0IiBjeD0iOTYiIGN5PSIxMDQuMTUiIHI9IjI4Ii8+Cgk8cGF0aCBpZD0iUmVkIiBmaWxsPSIjRUE0MzM1IiBkPSJNMTYwLDcydjQwLjE1VjEzNmMwLDEuNjktMC4zNCwzLjI5LTAuODIsNC44MnYwdjBjLTEuNTcsNC45Mi01LjQzLDguNzgtMTAuMzUsMTAuMzVoMHYwCgkJYy0xLjUzLDAuNDktMy4xMywwLjgyLTQuODIsMC44Mkg2NmwxNiwxNmg1MGgxMmM0LjQyLDAsOC42My0wLjksMTIuNDYtMi41MWMzLjgzLTEuNjIsNy4yOC0zLjk2LDEwLjE3LTYuODYKCQljMS40NS0xLjQ1LDIuNzYtMy4wMywzLjkxLTQuNzRjMi4zLTMuNCwzLjk2LTcuMjgsNC44MS0xMS40NGMwLjQzLTIuMDgsMC42NS00LjI0LDAuNjUtNi40NXYtMTJWOTYuMTVWODRsLTYtMTlsLTEwLjgyLDIuMTgKCQlDMTU5LjY2LDY4LjcxLDE2MCw3MC4zMSwxNjAsNzJ6Ii8+Cgk8cGF0aCBpZD0iQmx1ZSIgZmlsbD0iIzQyODVGNCIgZD0iTTMyLDcyYzAtMS42OSwwLjM0LTMuMjksMC44Mi00LjgyYzEuNTctNC45Miw1LjQzLTguNzgsMTAuMzUtMTAuMzVDNDQuNzEsNTYuMzQsNDYuMzEsNTYsNDgsNTYKCQloOTZjMS42OSwwLDMuMjksMC4zNCw0LjgyLDAuODJjMCwwLDAsMCwwLDBMMTQ5LDQ1bC0xNy01bC0xNi0xNmgtMTMuNDRIOTZoLTYuNTZINzZMNjAsNDBINDhjLTE3LjY3LDAtMzIsMTQuMzMtMzIsMzJ2MTJ2MjBsMTYsMTYKCQlWNzJ6Ii8+Cgk8cGF0aCBpZD0iR3JlZW4iIGZpbGw9IiMzNEE4NTMiIGQ9Ik0xNDQsNDBoLTEybDE2LjgzLDE2LjgzYzEuMjMsMC4zOSwyLjM5LDAuOTMsMy40NywxLjU5YzIuMTYsMS4zMiwzLjk3LDMuMTMsNS4yOSw1LjI5CgkJYzAuNjYsMS4wOCwxLjIsMi4yNCwxLjU5LDMuNDd2MEwxNzYsODRWNzJDMTc2LDU0LjMzLDE2MS42Nyw0MCwxNDQsNDB6Ii8+Cgk8cGF0aCBpZD0iWWVsbG93IiBmaWxsPSIjRkJCQzA0IiBkPSJNNDgsMTY4aDM5Ljg5bC0xNi0xNkg0OGMtOC44MiwwLTE2LTcuMTgtMTYtMTZ2LTIzLjg5bC0xNi0xNlYxMzZDMTYsMTUzLjY3LDMwLjMzLDE2OCw0OCwxNjh6CgkJIi8+CjwvZz4KPC9zdmc+Cg==');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 100%;
    height: 60px;
}

header nav {
    display:flex; /'Indica que el elemento puede ser flexible para alterar sus dimensiones'/
    justify-content: flex-end;
}

header nav .nav-right-section {
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;  /'Quitar los puntos a la lista'/
    justify-content: center;
    align-items: center;
}

nav .nav-right-section a {
    margin-right: 35px;
    color: rgb(37, 37, 37);
}

nav .nav-right-section img {
    width: 33px;
    height: 34px;
    border-radius: 80px;
    margin-left: 20px;
}

nav .nav-right-section .menu-icon {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAe1BMVEX///8AAAD7+/v39/fc3Nzv7+9UVFTf39+urq7y8vLp6enk5OS2trZ2dnY6OjpQUFCEhITS0tKOjo5nZ2fKysq8vLyampoeHh5gYGAyMjIICAhvb2+YmJiysrIXFxelpaVAQEAuLi7ExMQlJSV7e3sbGxtFRUUQEBBaWlrDyb63AAAJd0lEQVR4nO1d63rqIBDUqLFaNTFqrdd6O63v/4RHpFGjQGYwOafanf/MRwjsLjC7VCoCgeDHIgiC56VtjpJZuOqtokG8qBfXi2YnHkSatlMgbX2hacNZMmpCDeJJ9RLrbr+IfvR36yztrhja7hVtnDd2m2wDja+XezvSGRtox517aRdfBtrJyNFiODG0uL8zm62Fdru5h3b0x0I7GVpaBDNLC4Ww4duR1ruD9r3mS9sIHbQzI23dNtLf8Bzv/tLJuvRcjpupk3ZsWI4j9/cd8OHTk5dcWq9F/pFLe7Ma83tSrc7L6Em1+sbTzgHaq5HL/4NefUHGzeMvIuN29Rf7UJNqlTSpG5CWXOIdkPZiibdsdvcGr0xPGm5rcIE2Q/uKso5bpzYue55Fj+lKBNNGDK3Nad/iPW2CTiYFwqCik0mBmP7YItRIXb/bY10B9vw1hrUKe/4Gw/pHt8EMXooE7cobRQub6YSiPZrpoEe1+Wrl9UGjlhMiXWEL/sSWKdi2o6e2jUOqCey9MA97hmtHcAFuwmmP0SXbgHYPt88aA4wWt88a3cMkhZ1WCmiacnZGAZqmLZZ1GlTqdFeg+cTO/bNld4LxQBpNyr1oxEhXkNg4Cyiuj2naD482K6Qr7DK8CEBcWNG0Mb10D0C6QkURRywRWr6zUYVzW0cgR5M8KzJwAc+6rdCmFNsJ8KzIF7Z51qlPV4AtFO8sIHcBb5wuUNI/9JhOyOT3+MKph0mAfDPPisxS2uGr7QUXd6NdKekLPWhXdFiqrBOAT5r2E6HlLX+X3MYpQDEyH0hAodKApn2jjjA0oIOMBU27QGj5GHPoYdehSzrqsOEI6HikSdMezKLrhsMEaBnyEeQKozVd07kQVvhdM3hQw65v8KCGO6bRJxLsfIImKR9ggYfC5DSdHuc+Z/agTY4C54a6KC23LYs9Rhu+7+NGG5wZ+BWLxvfMYOY2eGCksCNodzgt4xJPNoOITcHTUgUm+ibUMERs+ufUCP/zkFtOgQcT1PUaHkxcrCj03Ai2BxqoDYMCtjNQGzbnG4VcT9A1Q6xtDSxIufodiBHu8ZI05JwL2lRkAF213Lg1l5jmuyce2pcgf+T2HlK+Wv7IzW5b5fkMQxMEeT6D8BOXyPshxtjSfRDvrW1zX0J5y8ncFtVinBv28X6nJApZtO3jPaMkClm82s1Y174Tq5uXTQTdmtjR3xtpwzsFmEOzTX130zaTm0vWIgSm9fjm1HJXgIq2fzPrpjEQ4fbfwtQaT8JkWJRqeTgPJyfa+Z2z4oRgmEQpbW//hv+MdrNerzfbBWuyg3Jpi2UVCAQCgUAgEAgEAoFAIBAIBAKBQCAQFIagVk4xoJ9AW9sk6eVqlHS8a5pcozU60YZJh1CP5dKmwox9MgLkIq3O9Y109FHAxVxjcX0jHb4UMHbtl2vZyX7hHrvG3JhIvLvzGxuJKTNnGt/5jW2jqmyZOL7RroSHc9RNsKvmPKqlnGEXANkU1a9ra5PDgHvLFequohumSjkYnHrKtVGukJdi61FGRiFPKO+pRMpLvDAokfIFmKT0UiNfgElKLzXytZQ3CwCRgsIi9jPy9YBegjlESXk1cpiElv6LmISW/ouYGjbzF9E0d3ItollK5FpEk1Uu1iKemklZVLyYAWVRcVX6WW5IZFkyXYFrM1XHDC3e2VNFJCbljVgzTFkFwvUzKT7f05/Lz4OFplw+FRzAccnOOhLnssxge8qlU8FhIZdOdTSNNTKlD4zC8VJmR0zBn0imxI3VT2SLAYEeg01rBD0Gm9aoSs2wycNgyTY2NRXMVmGT6wc+1Q+gacrXBoB2/XxhjIDM51OA5hM798HSRezcVzEKn/8NWVM2Xxe0pnx9hA8qD1JjgnSFXYbgQsRrJqaIPeoSPVZdjE8ieDzh/9U28Sh7M/5B9WmAL5QaQyb8gn/IFpqoPtw65EvlPJotfX5/+PwxzfPHpc+/t6D3hyukJz9pf/gL9vjPf05T1lkbZ03LPGv7Beel1JJ5yDPv0u4t8AVe9r3FL7h7gj0GeX+ITv/y7w/RRg98B/wL7vFL02Lke0UvLUb+ns9gnZ9eT1OeJsrlNErSRE1scUlJuja7GStJ1+aoktuaGwsMlqRNTP69NrFi1pcWIAQtSV/aoPWlR9Q2SfqVUZFi3k3JGuEpphE+4ycIsgnaMlgFAoFAIBAIBAKBQCAQCAQCgUAgEAgERUC/GPH6IO9bvJLvW1y+URI91BslIfJGSTMu6Z2Zm9vo//POjOWtoM+S3gq6k3Zofrlrb/8j//69p8G/fe/J/VzhE7zZladse/h3157+7byS3j9E8sZKev9wn22DKTYjtitYtgqt6kTejbzSUj79O6Tulw8vQb0li2fjlPSW7NnfPv17wE//pnNJ73LjuQgKpb7L/fRvq3P5SfBos7mQYITKvdiuU+LYREFQEM0mCoJCeTa/WIXTbLLnFusKW1FkhdGy5QNCnyR+aJqycx/MzyMnaVXl5+FPvKdwKOHPwN1yCiiY4HPrh/R6AV0iZ6AVoNCNTctW65vP4YcWIl+MAtpibGnaLp3+XX2wuhgrJiZNgcSmPCvyhXwdg0Ns+nPq0wDRt0cFHqkxZAQSYPl0JR9eNYZ46wRt5nhW5As9Jv8WPPNgu+JhwJYILd/ZyMM1r5CucJscBWhbxtfP86kxBAUfTEEFDSjbkv8fH+RWXAEqBoQfbqWArmnQwuNnNCsBbUyhwyjeXUAn6rTLnwZ8cSnwWJhdiOARF2sY1ekIO5/ASyi2dBE09/kTiePBGRd7f4EnpjXO0W7Ba5+W8ZkYK/RVCzcscN46t/GE6xlwBzXfE47yznAGNmdr4ENv6ngkPfRmViJ0hKHBWHZwFSowDvzkgXC7Bxbz1sDtHnVth9uNs31uwWd0lGABL2hGFR+At1DjC6OIXgYQk0kBPcejLtfw6Z+5YsG8F7EINTAzTcs8sKV49TuQvnhUIkH6Qo8bFtffjFv+X/ToCXIy7CXUyR85w4Kqu4OQqadEq+8uGL70FM0N3VbMXNkncElq9t61VmouX/TuXbGjYdbKacxsAcTQ5mrGpBHNYrO20K5JI5rFyObjeq7ptjGVIl56a9pOnTGtgK23pi3FwhSGT/L+Rj3OfuS6CHnpgXaX/ZHrXSG0/e4VbQypVpujZBaueqtoEC8KkLmeaDvxQNGGg7gDCxPyUV/Eg0jRzpIRRRsE5RQDeihagUBQDP4CCq6dbH6sOaoAAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 22px;
    height: 22px;
}

main .main-buttons {
    width: 530px;
    margin: 0 auto;
}

main .main-buttons button {
    height: 36px;
    background-color: #f2f2f2;
    border: 0;
    font-size: 14px;
    color: #5f6368;
    border-radius: 8px;
    padding: 0 15px;
    margin-right: 15px;
}

main .main-buttons button:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px #565665;
    color: #222;
}

footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr; /'Separa las listas en dos columnas'/
    align-items: center;
    font-size: 13px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

footer ul {
    margin: 15px;
    list-style: none;
    display: flex;
    padding-left: 0;
}

footer .footer-left {
    justify-self: left;
}

footer .footer-right {
    justify-self: right;
}

footer ul li a {
    margin: 200 px;
    color: #5f6368;


}


